body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

#add:focus {
    background-color: rgb(82, 82, 82);
    transition: background-color 0.3s;
}

header {
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

}

.imgAndSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.search {
    display: flex;
    justify-content: space-between;        
    width: 100%;
}


input[type="text"] {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    width: 80%;
}


.hero {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.similar-products {
    display: none;
}

.name-price {
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 10px;
}

.product {
    max-width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.icon-benefits {
    padding: 10px;
}

.benefits > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.product p {
    margin-left: 10px;
    margin-top: -20px;
}

.nav-footer {
    background-color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    margin: 0;
}

.nav-footer h4 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer p {
    background-color: rgb(213, 213, 213);
    text-align: center;
    margin: 0;
    padding: 20px;
}

.products {
    padding: 15px;
}

#add {
    background-color: rgb(209, 209, 209);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.spots {
    display: none;
}


@media (min-width: 640px) {

    .imgAndSearch {
        display: flex;
        flex-direction: row;
    }

    header img {
        width: 40%;
    }

    #details-img-header {
        width: 100%;
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }   

    input[type="text"] {
        width: 60%;
    }   

    .icon-links {
        display: flex;
        gap: 5px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .tshirt-article img {
        max-inline-size: 50%;
    }

    .products {
        display: flex;
    }

    .products div {
        padding: 10px;
    }
    
    #add {
    max-width: 200px;
    }

    .similar-products {
        display: grid;
        padding: 10px;
    }
    
    .similar-products-header {
        text-align: center;
    }

    .three-products {
        display: flex;
        justify-content: space-between;
        gap: 10px; 
    }

    .icon-benefits {
        padding: 10px;
    }

    .benefits > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .footer-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-footer {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }

    .nav-footer ul {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin: -1px;
    }
    
}

@media (min-width: 1024px) {

    a:hover {
        color: rgb(129, 129, 129);
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    input[type="text"] {
        width: 40%;
    }    

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        text-align: center;
        padding: 10px;
    }

    .spots {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 10px;
    }

    .spot {
        position: relative;
    }

    .spot p {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
        font-size: 2vw;
     }

    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .icon-benefits {
        padding: 10px;
    }

    .benefits > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
