body {
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

main {
    display: flex;
}

aside {
    border: 1px solid black;
    background-color: rgb(220, 220, 220);  
    font-size: 12px;  
    padding: 20px;
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

form input, form textarea, form button {
    width: 100%;
}

footer {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
}