* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(219, 219, 219);
}

img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;

}

.imgAndLinks {
    display: grid;
    padding: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search {
    display: flex;
    justify-content: space-evenly;        
    max-width: 1200px;
    width: 100%;
}


input[type="text"] {
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    width: 85%;
}


.hero {
    padding: 10px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.similar-products {
    display: none;
}


@media (max-width: 640px) {
    .no-mobile {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .name-price {
        display: flex;
        justify-content: space-between;
        margin: 10px; 
    }

    .product {
        max-width: 100%;
        height: auto;
        display: block;
        padding: 5px;
        margin: 0;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        margin: 10px;
    }

    .benefits > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .benefits img {
        width: 50px;
        height: 40px;
        object-fit: contain;
    }

    

    #add {
        background-color: rgb(209, 209, 209);
        display: block;
        width: 100%;
        max-width: 600px;
        padding: 10px;
        border-radius: 10px;
    }

    .product p {
        margin-left: 10px;
    }

}


@media (min-width: 641px) and (max-width: 1023px) {

    .no-mobile {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .similar-products {
        display: grid;
    }

    
    .similar-products-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .three-products {
        display: flex;
        justify-content: space-between;
        
    }
    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .benefits > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
        .benefits img {
        width: 50px;
        height: 40px;
        object-fit: contain;
    }
}

@media (min-width: 1024px) {

    .no-mobile {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .search {
        padding: 10px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hero {

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        text-align: center;
        padding: 10px;
        max-width: 1200px;
        margin: auto;
    }
    
    .similar-products {
        display: grid;
    }
    .similar-products-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .three-products {
        display: flex;
        justify-content: space-between;
    }
    .benefits {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    .benefits > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
        .benefits img {
        width: 50px;
        height: 40px;
        object-fit: contain;
    }
}