body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

}

.imgAndSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.search {
    display: flex;
    justify-content: space-between;        
    width: 100%;
}


input[type="text"] {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    width: 80%;
}


.hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.similar-products {
    display: none;
}

.name-price {
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 10px;
}

.product {
    max-width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.benefits > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.benefits img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}


.product p {
    margin-left: 10px;
    margin-top: -20px;
}

.nav-footer {
    background-color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin: 0;
}

.nav-footer h4 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer p {
    background-color: rgb(213, 213, 213);
    text-align: center;
    margin: 0;
    padding: 20px;
}

.products {
    padding: 15px;
}

#add {
    background-color: rgb(209, 209, 209);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}


@media (min-width: 641px) {

    .imgAndSearch {
        display: flex;
        flex-direction: row;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }   

    .links {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }


    /*fixa denna sen, så alla ska vara på sin plats sen*/
    .tshirt-article {
        background-color: ;

        display: flex;
    }

    .similar-products {
        display: grid;
        padding: 10px;
    }
    
    .similar-products-header {
        text-align: center;
    }

    .three-products {
        display: flex;
        justify-content: space-between;
        gap: 10px; 
    }

    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .benefits img {
        width: 50px;
        height: 40px;
    }

    .footer-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .footer-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-footer {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }
    
}

@media (min-width: 1024px) {

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    /*lägg in 3 spot i HTML sen här*/

    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }


    /*fixa artikeln mindre till vänster*/
    

    .benefits {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

}

/*
att göra:
surfplatta - gör liknande produkter grid 2x4 i 

i datorläge - lägg dit spots första sidan och liknande produkter 4x2

*/