body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

}

.imgAndLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search {
    display: flex;
    justify-content: space-between;        
    width: 100%;
}


input[type="text"] {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    width: 80%;
}


.hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.similar-products {
    display: none;
}

.name-price {
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 10px;
}

.product {
    max-width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.benefits > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.benefits img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}


.product p {
    margin-left: 10px;
    margin-top: -20px;
}

.nav-footer {
    background-color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin: 0;
}

.nav-footer h4 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer p {
    background-color: rgb(213, 213, 213);
    text-align: center;
    margin: 0;
    padding: 20px;
}

#add {
    background-color: rgb(209, 209, 209);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

/*fortsätt kolla nedåt*/

@media (min-width: 641px) and (max-width: 1023px) {

    .no-mobile {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .similar-products {
        display: grid;
    }

    
    .similar-products-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .three-products {
        display: flex;
        justify-content: space-between;
        
    }
    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .benefits > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
        .benefits img {
        width: 50px;
        height: 40px;
        object-fit: contain;
    }
}

@media (min-width: 1024px) {

    .no-mobile {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .search {
        padding: 10px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hero {

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        text-align: center;
        padding: 10px;
        max-width: 1200px;
        margin: auto;
    }
    
    .similar-products {
        display: grid;
    }
    .similar-products-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .three-products {
        display: flex;
        justify-content: space-between;
    }
    .benefits {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    .benefits > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
        .benefits img {
        width: 50px;
        height: 40px;
        object-fit: contain;
    }
}

/*
att göra:
surfplatta - gör liknande produkter grid 2x4 i 

i datorläge - lägg dit spots första sidan och liknande produkter 4x2

*/